<%- include('../partials/head') %>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>  
    <main class="container mt-5">
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
<script src="/JS/validateForms.js"></script>
