* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("https://images.unsplash.com/photo-1536002583490-9857862b246b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.view {
    margin-left: 45%;
}

p {
    color: white;
}

button {
    background-color: gray;
    border: 1px solid white;
}